@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .input {
    width: 300px;
    min-width: 0;
    font-size: 20px;
  }

  #history {
    max-height: 90%;
    overflow: auto;
    margin-top: 30px;
    font-size: 30%;
  }
  .item-time {
    font-size: 10px;
  }

  .loading-wrapper {
    height: 90px;
    width: 320px;
  }
}
